<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <p>la mia header</p>
    </div>


    <div class="topnav">
        <a href="juve"></a>
        <a href="napoli"></a>
        <a href="inter"></a>
    </div>
    <div class="contenuto">
        <div class="column side">
            <h2>side</h2>
            <p>primo contenuto</p>
        </div>

        <div class="column middle">
            <h2>il contenuto principale</h2>
            <p>questa è la parte piu importante della pagina</p>
        </div>
        <div class="column side">
            <h2>side</h2>
            <p>secondo contenuto</p>
        </div>
    </div>
    <footer>
        <p>il mio footer</p>
    </footer>

</body>

</html>